darkness = #010003

neon = #c3e2df // teal
neonBlue = #87d0f0
neonRed = #ff8787
neonGreen = #74ec87
neonOrange = #ffb475
neonYellow = #e8e37c
//neonYellow = #beb759 // TODO audition this
neonPink = #e495e4
