@import nib

@import colors
@import fonts

#tetris
  position absolute
  top 0
  right 0
  left 0
  bottom 0
  margin auto
  height 37.75em //604px
  //width 606px
  //padding-left 152px
  width 28.375em //454px
  border-radius 1.5em 1.5em 1.5em 0

  .tetris-brick
    position relative

    b
      position absolute
      top 0
      right 0
      bottom 0
      left 0
      display block
      border 1px solid rgba(neon, .1)

      //border-radius 100px
      border-radius 6.25em //100px

      // for num in (1..10)
      //   &:nth-child({ num })
      //     transform translateZ(-(num * .25em))
      //     opacity 1 - (num / 10)

      &:nth-child(2)
        transform translateZ(-1em)


    // &.blue
    //   background rgba(neonBlue, .75)
    //   //box-shadow inset 0 0 0 2px rgba(neonBlue, .5)

    // &.white
    //   background rgba(neon, .75)
    //   //box-shadow inset 0 0 0 2px rgba(neon, .5)

    // &.red
    //   background rgba(neonRed, .75)
    //   //box-shadow inset 0 0 0 2px rgba(neonRed, .5)

    // &.green
    //   background rgba(neonGreen, .75)
    //   //box-shadow inset 0 0 0 2px rgba(neonGreen, .5)

    // &.orange
    //   background rgba(neonOrange, .75)
    //   //box-shadow inset 0 0 0 2px rgba(neonOrange, .5)

    // &.yellow
    //   background rgba(neonYellow, .75)
    //   //box-shadow inset 0 0 0 2px rgba(neonYellow, .5)

    // &.pink
    //   background rgba(neonPink, .75)
    //   //box-shadow inset 0 0 0 2px rgba(neonPink, .5)

    &.blue b
      box-shadow inset 0 0 0 2px rgba(neonBlue, .4)

    &.white b
      box-shadow inset 0 0 0 2px rgba(neon, .4)

    &.red b
      box-shadow inset 0 0 0 2px rgba(neonRed, .4)

    &.green b
      box-shadow inset 0 0 0 2px rgba(neonGreen, .4)

    &.orange b
      box-shadow inset 0 0 0 2px rgba(neonOrange, .4)

    &.yellow b
      box-shadow inset 0 0 0 2px rgba(neonYellow, .4)

    &.pink b
      box-shadow inset 0 0 0 2px rgba(neonPink, .4)

  dt, dd
    ui-font()
    color neon
    glow(@color)
    font-weight 400
    font-size .8em
    position relative
    top .07em

  #tetris-main *
    font-size 1em
    line-height 1.4em
    text-align inherit

  .clear
    clear both

  #tetris a:link, #tetris a:hover, #tetris a:active, #tetris a:visited
    color #202
    text-decoration underline

  #tetris-wrap
    position relative
    text-align right

    transition all .4s ease-in-out
    opacity 1
    transform translateZ(-1em)

    &[with-message-showing]
      opacity .25
      transform translateZ(-10em)

  #tetris-wrap-inner
    clearfix()
    border 1px solid rgba(darken(neon, 60%), .6)
    margin-bottom .2em
    border-radius 1.5em 1.5em 1.5em 0

  #tetris-main, #tetris-side
    height 37.5em //600px

  #tetris-main
    width 18.75em //300px

  #tetris-main
    background rgba(darken(neon, 60%), .05)
    float left
    position relative

  #tetris-message
    small
      font-size .5em

  #tetris-side
    background rgba(darken(neon, 60%), .2)
    border-radius 0 1.5em 1.5em 0
    position absolute
    top 0
    right 0
    text-align left
    width 9.5em //152px

    .tetris-side-section
      clearfix()
      margin-bottom 1em

    dl
      margin 0
      position relative

    dd
      position absolute
      top 0
      right 0

  #tetris-side-inner
    padding 1em //16px

  dd#tetris-level, dd#tetris-score
    margin-bottom 1em

  #tetris-scores, #tetris-keys
    clearfix()

  #tetris-next
    transform translateZ(1em)
    z-index 5
    position relative
    height 7.5em //120px
    margin-bottom 1em
    width 7.5em //120px

  #tetris-keys
    color #979
    font-size .8em

  #tetris-copyright
    font-size .8em
