@import nib

for num in (1..200)
  sizeQuery = "(min-width: " + num + "em) and (min-height: " + (num * (9 / 16)) + "em)"
  @media sizeQuery
    html
      font-size (num / 80)em

.viewport
  perspective 60em
  height 100%
  width 100%

  > .world
    height 100%
    width 100%

    &, & *
      transform-style preserve-3d
      backface-visibility hidden
